html {
    --color-primary: #F7C94B;
    --color-neutral: #423D33;
    --spacing-1: 8px;
    --spacing-2: 16px;
    --spacing-3: 32px;
    --spacing-4: 48px;
    --spacing-5: 64px;
    --spacing-6: 96px;
    --spacing-7: 128px;
    --spacing-8: 156px;
    --spacing-9: 192px;

    font-family: 'Jost', sans-serif;
    font-size: 16px;
    background-color: var(--color-primary);
    color: var(--color-neutral);
}

html,
body {
    margin: 0;
}

.base-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 900px;
    grid-gap: 1.25rem;
    margin-left: auto;
    margin-right: auto;
}


/* UTILITY */
.wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

/* TYPOGRAPHY */
p {
    font-size: 1.25rem;
}

a {
    text-decoration: none;
    color: inherit;
}

/* To change, cause it mess with the flex flow */
a:hover:not(.btn-primary) {
    font-style: italic;
}


/* SECTIONS */
header {
    display: flex;
    justify-content: space-between;
    margin-top: var(--spacing-3);
    padding: 0 var(--spacing-5) 0;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--color-primary);
}

/* section {

} */

#hero {
    height: 550px;
}


/* ELEMENTS */
.card {
    /* grid-column: span 4; */
    height: 357px;
    background-color: #fff;
    border-radius: .5rem;
}

.btn-primary {
    padding: 1rem 2.5rem;
    background-color: var(--color-neutral);
    color: var(--color-primary);
    border-radius: .5rem;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1;
    font-weight: 600;
}

.wave {
    width: 100vw;
    margin: 0;
    margin-bottom: -6px; /* Don't understand why, but otherwise it place a little gap */
}

/* NAV */
.logo {
    max-height: 3rem;
}

nav {
    display: flex;
}

nav > a:not(:last-child) {
    margin-right: var(--spacing-5);
}


/* HERO */


/* CONTENT */
#content {
    background-color: var(--color-neutral);
    height: 1000px;
}

.card-grid {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 3rem;
}